.movie-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 10px;
  justify-content: center;

  .movie-card {
    height: 225px;
    width: 400px;
    position: relative;
    display: flex;
    vertical-align: top;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movie-card-overlay {
    position: absolute;
    height: 225px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Dark overlay with transparency */
  }

  .movie-card-content {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 24px;
    margin: 10px;
    line-height: 1;

    .category {
      font-size: 12px;
      margin: 0;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      margin: 5px 0;
    }
  }
}
